# build folder
build/
# fake submodule SGL for the examples
SGL/
# linux build made from my WSL
linux/
# doxygen temp files
*.tmp
# imgui config
imgui.ini
# tests files
bin/
*.dll
# doxygen
documentation/
*.tmp
warnings.log