[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/arkscript"]
	path = thirdparty/arkscript
	url = https://github.com/ArkScript-lang/Ark.git
